{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Traffic Monitoring System</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

<!-- NAVBAR -->
<nav class="navbar navbar-dark bg-dark">
    <div class="container">
        <span class="navbar-brand">🚦 Traffic AI Monitoring</span>
    </div>
</nav>

<div class="container mt-5">

    <div class="card p-4">
        <h3 class="mb-3">Upload Traffic Video</h3>

        <form method="POST" action="{% url 'analyze' %}" enctype="multipart/form-data" onsubmit="showLoader()">
            {% csrf_token %}

            <input type="file" name="video" class="form-control mb-3" onchange="previewVideo(event)" required>

            <button type="submit" class="btn btn-primary w-100">
                🚀 Analyze Traffic
            </button>
        </form>

        <!-- VIDEO PREVIEW -->
        <video id="videoPreview" controls style="display:none;"></video>

        <!-- LOADER -->
        <div id="loader" class="loader"></div>
    </div>

</div>

<!-- JS -->
<script src="{% static 'js/script.js' %}"></script>

</body>
</html>
